html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'modumregular';
  src: url("../fonts/modum_regular_regular-webfont.eot");
  src: url("../fonts/modum_regular_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/modum_regular_regular-webfont.woff") format("woff"), url("../fonts/modum_regular_regular-webfont.ttf") format("truetype"), url("../fonts/modum_regular_regular-webfont.svg#modumregular") format("svg");
}

.white {
  color: #222222;
  background: white;
}

.blue {
  color: white;
  background: #1e435d;
}

.yellow {
  color: #222222;
  background: #f8ebb4;
}

.lgrey {
  color: #333333;
  background: #eeeeee;
}

.dgrey {
  color: #eeeeee;
  background: #333333;
}

.sdgrey {
  color: #eeeeee;
  background: #222222;
}

@font-face {
  font-family: 'Jacob-Hammond-Icon-Font';
  src: url("../fonts/Jacob-Hammond-Icon-Font.eot?-wqe5ba");
  src: url("../fonts/Jacob-Hammond-Icon-Font.eot?#iefix-wqe5ba") format("embedded-opentype"), url("../fonts/Jacob-Hammond-Icon-Font.woff?-wqe5ba") format("woff"), url("../fonts/Jacob-Hammond-Icon-Font.ttf?-wqe5ba") format("truetype"), url("../fonts/Jacob-Hammond-Icon-Font.svg?-wqe5ba#Jacob-Hammond-Icon-Font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"],
[class*=" ico-"] {
  display: inline-block;
  margin-right: 15px;
  font-family: 'Jacob-Hammond-Icon-Font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-logo:before {
  content: "\6a";
}

.ico-languages:before {
  content: "\63";
}

.ico-tools:before {
  content: "\e600";
}

.ico-menu:before {
  content: "\62";
}

.ico-skills:before {
  content: "\73";
}

.ico-close:before {
  content: "\78";
}

.ico-arrow-down:before {
  content: "\27";
}

.ico-arrow-up:before {
  content: "\5e";
}

.ico-download:before {
  content: "\64";
}

.ico-heart:before {
  content: "\48";
}

.ico-link:before {
  content: "\6c";
}

.ico-twitter:before {
  content: "\e605";
}

.ico-facebook:before {
  content: "\e606";
}

.ico-tumblr:before {
  content: "\e607";
}

.ico-lastfm:before {
  content: "\e609";
}

.ico-linkedin:before {
  content: "\e608";
}

.ico-github:before {
  content: "\e604";
}

.ico-user:before {
  content: "\e602";
}

.ico-camera:before {
  content: "\36";
}

.ico-mobile:before {
  content: "\35";
}

.ico-producer:before {
  content: "\37";
}

.ico-art:before {
  content: "\33";
}

.ico-keyboard:before {
  content: "\31";
}

.ico-graphic:before {
  content: "\32";
}

.ico-info:before {
  content: "\69";
}

.ico-cube:before {
  content: "\34";
}

.ico-graduate:before {
  content: "\67";
}

.ico-grid:before {
  content: "\47";
}

.ico-arrow-left {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ico-arrow-left:before {
  content: "\5e";
}

.ico-arrow-right {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.ico-arrow-right:before {
  content: "\5e";
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 20px;
  font-weight: 200;
}

h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
  margin-bottom: 40px;
}

h2 {
  font-family: "modumregular";
  font-size: 1.625em;
  line-height: 1.23077em;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 20px;
  font-weight: 200;
}

a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 400;
}

.white a {
  color: #333333;
}
.white a:visited {
  color: #333333;
}
.white a:focus {
  color: #333333;
}
.white a:hover {
  color: #999999;
}
.white a:active {
  color: #333333;
}

.blue a {
  color: white;
}
.blue a:visited {
  color: white;
}
.blue a:focus {
  color: white;
}
.blue a:hover {
  color: #f8ebb4;
}
.blue a:active {
  color: white;
}
.blue a .btn {
  color: #f8ebb4;
}
.blue a .btn:visited {
  color: #f8ebb4;
}
.blue a .btn:focus {
  color: #f8ebb4;
}
.blue a .btn:hover {
  color: #f8ebb4;
}
.blue a .btn:active {
  color: #f8ebb4;
}

.yellow a {
  color: #333333;
}
.yellow a:visited {
  color: #333333;
}
.yellow a:focus {
  color: #333333;
}
.yellow a:hover {
  color: #1e435d;
}
.yellow a:active {
  color: #333333;
}

@media (min-width: 800px) {
  p {
    font-size: 1.125em;
    line-height: 1.33333em;
  }

  h1 {
    font-size: 3.875em;
    line-height: 1.16129em;
  }

  h2 {
    font-size: 2.625em;
    line-height: 1.14286em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.33333em;
  }
}
.full {
  width: 100%;
  float: left;
}

.half,
.third {
  width: 100%;
  float: left;
}

.half-margin {
  width: 100%;
  float: left;
}

.third-margin {
  width: 100%;
  float: left;
}

.three-quarters {
  width: 50%;
  float: left;
}

@media (min-width: 640px) {
  .half {
    width: 50%;
  }

  .half-margin {
    width: 48%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .half-margin:first-of-type {
    margin-left: 0;
  }

  .half-margin:last-of-type {
    margin-right: 0;
  }

  .third {
    width: 33.33333%;
  }

  .third-margin {
    width: 31.33333%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .third-margin:first-of-type {
    margin-left: 0;
    margin-right: 2%;
  }

  .third-margin:last-of-type {
    margin-left: 2%;
    margin-right: 0;
  }

  p.third {
    width: 100%;
  }

  p.third-margin {
    width: 97%;
    margin-left: 0;
    margin-right: 0;
  }

  p.third-margin:first-of-type {
    margin-left: 0;
    margin-right: 0;
  }

  p.third-margin:last-of-type {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 800px) {
  p.third {
    width: 33.33333%;
  }

  p.third-margin {
    width: 32.33333%;
    margin-left: .5%;
    margin-right: .5%;
  }

  p.third-margin:first-of-type {
    margin-left: 0;
    margin-right: 1%;
  }

  p.third-margin:last-of-type {
    margin-left: 1%;
    margin-right: 0;
  }
}
.btn {
  margin-top: 20px;
  padding: 20px;
  display: inline-block;
  *display: inline;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a.btn {
  font-weight: 200;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
}
a.btn:active, a.btn:focus {
  outline: none;
}

.blue a.btn {
  color: white;
}

.blue .btn {
  border: 1px solid white;
  color: white;
}
.blue .btn:hover {
  background: white;
  color: #1e435d;
}

.yellow .btn,
.white .btn {
  border: 1px solid #222222;
  color: #222222;
}
.yellow .btn:hover,
.white .btn:hover {
  background: #222222;
  color: white;
}

.work-item {
  width: 100%;
  position: relative;
  padding: 0 0 10px 0;
  float: left;
  overflow: hidden;
  color: #333333;
}
.work-item img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px 4px 0 0;
}
.work-item h1 {
  margin-bottom: 0;
  font-size: 1.125em;
  line-height: 1.33333em;
  font-weight: 400;
  text-overflow: ellipsis;
}
.work-item p {
  font-size: 1em;
  line-height: 1.5em;
  text-overflow: ellipsis;
}
.work-item i {
  margin-right: 0;
  font-size: 1.375em;
  line-height: 1.45455em;
}

.work-item-description {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #eeeeee;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.work-item:hover .work-item-description {
  color: white;
  background: #1e435d;
}

.work-item:hover .work-item-icon {
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.work-item-icon {
  position: absolute;
  top: -40px;
  right: 35px;
  padding: 10px;
  color: #333333;
  background: #f8ebb4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 640px) {
  .work-item {
    width: 50%;
    padding: 0 20px 20px 0;
  }
}
@media (min-width: 800px) {
  .work-item {
    width: 33.33333%;
  }
}
nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  padding-right: 20px;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}
nav ul {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 100px;
  right: -200px;
  text-align: right;
  background: white;
}
nav li {
  padding: 20px 20px;
  line-height: 40px;
}
nav li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
  font-weight: 800;
  padding: 20px;
  width: 100%;
}
nav li a:active, nav li a:focus {
  outline: none;
}

.nav-small nav {
  height: 50px;
}

#nav-logo {
  float: left;
  padding: 0 20px;
}
#nav-logo h1 {
  font-size: 2em;
  line-height: 1.25em;
  line-height: 106px;
}

#site-nav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}

.blue #site-nav {
  background: #1e435d;
}

#site-nav-btn {
  width: 100px;
  position: absolute;
  right: -10px;
  margin-right: 0;
  display: block;
  cursor: pointer;
  text-align: center;
  z-index: 4;
  font-size: 0.75em;
  line-height: 1.33333em;
}
#site-nav-btn:hover {
  color: #f8ebb4;
}

.white #site-nav-btn:hover {
  color: #999999;
}

#site-nav-btn:before {
  content: 'b';
  font-size: 2.625em;
  line-height: 1.14286em;
  line-height: 100px;
}

#site-nav-toggle:checked ~ #site-nav-btn:before {
  content: 'x';
  font-size: 2em;
  line-height: 1.25em;
  line-height: 100px;
}

#site-nav-toggle:checked ~ #site-nav {
  right: 0;
}

#site-nav-toggle:checked ~ #nav-overlay {
  display: block;
}

#nav-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  display: none;
  background: url(../img/overlay.png);
  z-index: 1;
}

@media (min-width: 640px) {
  nav {
    padding-right: 40px;
  }
  nav ul {
    width: auto;
    position: relative;
    top: auto;
    right: auto;
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
  }
  nav li {
    padding: 0 40px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 100px;
  }
  nav li:first-child, nav li.first {
    padding-left: 0;
  }
  nav li:last-child {
    padding-right: 0;
  }
  nav li.last {
    padding-right: 0;
  }
  nav li a {
    padding: 5px 5px;
  }

  #nav-logo {
    float: left;
    padding: 0 40px;
  }

  #site-nav-btn {
    display: none;
  }

  #nav-overlay {
    visibility: hidden !important;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* > :last-child {
  margin-bottom: 0 !important;
}

html {
  font-family: "Roboto", Arial, Sans-Serif;
  line-height: 2em;
  color: #1e435d;
  text-rendering: optimizelegibility;
}
html * html {
  font-size: 100%;
}
html html {
  font-size: 16px;
  line-height: 0.5em;
}

main {
  width: 100%;
  position: relative;
}

section > div,
footer > div,
header > div {
  overflow: hidden;
}

section {
  overflow: hidden;
}

header {
  margin-top: 100px;
}

.section-content-wrapper {
  clear: both;
}

.align-center {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.section-padding {
  padding: 80px 20px;
}

img {
  width: 100%;
  height: auto;
}

.lazy {
  background: url(../img/spinner.gif) center no-repeat;
}

.no-js .lazy {
  display: none;
}

.checkbox-hack {
  display: none;
}

.force-repaint {
  -webkit-animation: force-repaint infinite 1s;
}

@-webkit-keyframes force-repaint {
  from {
    fill: 0;
  }

  to {
    fill: 0;
  }
}

@media (min-width: 640px) {
  .section-padding {
    padding: 100px 20px;
  }
}
@media (min-width: 1200px) {
  .section-padding {
    padding: 120px 0;
  }
}
#index-header-text {
  width: 100%;
  padding: 80px 20px;
}
#index-header-text h2 i {
  margin-right: 0;
  color: #ff66cc;
  -webkit-animation: hueRotate 30s infinite;
  -moz-animation: hueRotate 30s infinite;
  -o-animation: hueRotate 30s infinite;
  animation: hueRotate 30s infinite;
}

@-webkit-keyframes hueRotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    -moz-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(1080deg);
    -moz-filter: hue-rotate(1080deg);
    filter: hue-rotate(1080deg);
  }
}

@-o-keyframes hueRotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    -moz-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(1080deg);
    -moz-filter: hue-rotate(1080deg);
    filter: hue-rotate(1080deg);
  }
}

@-moz-keyframes hueRotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    -moz-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(1080deg);
    -moz-filter: hue-rotate(1080deg);
    filter: hue-rotate(1080deg);
  }
}

@keyframes hueRotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    -moz-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(1080deg);
    -moz-filter: hue-rotate(1080deg);
    filter: hue-rotate(1080deg);
  }
}

#index-about p {
  margin-bottom: 20px;
}
#index-about h2 i {
  margin-right: 0;
}
#index-about img {
  border-radius: 50%;
  width: 150px;
  margin-right: 20px;
}

#main-index {
  margin-top: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 40px;
}

.index-work-btn {
  margin-top: 30px;
}

@media (min-width: 640px) {
  #index-header-text {
    padding: 150px 40px;
  }

  .list {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .list li {
    padding: 2px 0;
  }
}
@media (min-width: 1200px) {
  #index-header-text {
    padding: 260px 0;
  }
}
#work-filter {
  padding: 20px;
}
#work-filter i {
  border: 1px solid #333333;
  padding: 20px;
  font-size: 1.25em;
  line-height: 1.2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#work-filter i:hover {
  background: #f8ebb4;
}

#work-items {
  padding-top: 80px;
}

.header-work {
  padding-top: 80px;
  padding-bottom: 0;
}
.header-work img {
  display: block;
}

@media (min-width: 1200px) {
  #work-filter {
    padding: 60px 0;
  }
}
.details-header h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
  margin-bottom: 0;
}
.details-header h2 {
  font-size: 1.625em;
  line-height: 1.23077em;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.details-description {
  overflow: hidden;
}
.details-description ul {
  margin-left: -5px;
}
.details-description li {
  margin: 5px 5px;
  display: inline-block;
  font-weight: 200;
}

.details-description-technologies {
  margin-top: 40px;
  font-weight: 400;
}

.details-link {
  margin-top: 40px;
  text-align: center;
  font-weight: 200;
}

.description-video {
  height: 0;
  position: relative;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.description-video iframe,
.description-video object,
.description-video embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.description-image {
  margin-top: 40px;
}
.description-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.description-image--web {
  margin-top: 60px;
}

.description-image--mobile {
  margin-top: 60px;
}

#details-navigation {
  text-align: center;
}
#details-navigation .btn {
  margin-top: 0;
}
#details-navigation .btn--previous {
  float: left;
}
#details-navigation .btn--previous i {
  margin-right: 0;
}
#details-navigation .btn--text {
  display: none;
}
#details-navigation .btn--work i {
  margin-right: 0;
}
#details-navigation .btn--next {
  float: right;
}
#details-navigation .btn--next i {
  margin-right: 0;
}

@media (min-width: 640px) {
  .details-description {
    margin-top: 0;
  }

  .description-image--web {
    margin-top: 0;
  }

  #details-navigation .btn--text {
    display: inline;
  }
  #details-navigation .btn--previous {
    float: left;
  }
  #details-navigation .btn--previous i {
    margin-right: 15px;
  }
  #details-navigation .btn--next {
    float: right;
  }
  #details-navigation .btn--next i {
    margin-right: 0;
    margin-left: 15px;
  }
}
footer i {
  margin-top: 40px;
  margin-right: 25px;
}
footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 3.25em;
  line-height: 1.07692em;
}
footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
footer ul li:first-child, footer ul li.first {
  padding-left: 0;
}
footer ul li:last-child {
  padding-right: 0;
}
footer ul li.last {
  padding-right: 0;
}

#footer-secondary {
  padding: 40px 0;
}
#footer-secondary h2 {
  margin-bottom: 0;
}

.copyright {
  padding: 11px 0;
  text-align: right;
}
