@import url("//hello.myfonts.net/count/2a6c8a");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'GistRoughLightThree';
  src: url("../fonts/GistRoughLightThree.eot");
  src: url("../fonts/GistRoughLightThree.eot?#iefix") format("embedded-opentype"), url("../fonts/GistRoughLightThree.woff") format("woff"), url("../fonts/GistRoughLightThree.ttf") format("truetype"), url("../fonts/GistRoughLightThree.svg#wf") format("svg");
}

@font-face {
  font-family: 'modumregular';
  src: url("../fonts/modum_regular_regular-webfont.eot");
  src: url("../fonts/modum_regular_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/modum_regular_regular-webfont.woff") format("woff"), url("../fonts/modum_regular_regular-webfont.ttf") format("truetype"), url("../fonts/modum_regular_regular-webfont.svg#modumregular") format("svg");
}

.white {
  color: #222222;
  background: white;
}

.blue {
  color: white;
  background: #1e435d;
}

.yellow {
  color: #222222;
  background: #f8ebb4;
}

.lgrey {
  color: #333333;
  background: #eeeeee;
}

.dgrey {
  color: #eeeeee;
  background: #333333;
}

.sdgrey {
  color: #eeeeee;
  background: #222222;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
}

h1 {
  font-size: 3.25em;
  line-height: 1.15385em;
  margin-bottom: 40px;
}

h2 {
  font-family: "modumregular";
  font-size: 1.625em;
  line-height: 1.15385em;
  margin-bottom: 40px;
  max-width: 860px;
}

h3 {
  font-size: 1.375em;
  line-height: 1.36364em;
}

a {
  color: #222222;
  font-weight: 600;
}
a:visited {
  color: #333333;
}
a:focus {
  color: #333333;
}
a:hover {
  color: #999999;
}
a:active {
  color: #333333;
}

@media (min-width: 800px) {
  p {
    font-size: 1.125em;
    line-height: 1.33333em;
  }

  h1 {
    font-size: 3.875em;
    line-height: 1.06452em;
  }

  h2 {
    font-size: 2.625em;
    line-height: 1.14286em;
  }

  h3 {
    font-size: 2em;
    line-height: 1.125em;
  }
}
.half,
.third {
  width: 100%;
  float: left;
}

.half-margin {
  width: 100%;
  float: left;
}

.third-margin {
  width: 100%;
  float: left;
}

.three-quarters {
  width: 50%;
  float: left;
}

@media (min-width: 640px) {
  .half {
    width: 50%;
  }

  .half-margin {
    width: 49%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .half-margin:first-of-type {
    margin-left: 0;
  }

  .half-margin:last-of-type {
    margin-right: 0;
  }

  .third {
    width: 33.33333%;
  }

  .third-margin {
    width: 32.33333%;
    margin-left: .5%;
    margin-right: .5%;
  }

  .third-margin:first-of-type {
    margin-left: 0;
    margin-right: 1%;
  }

  .third-margin:last-of-type {
    margin-left: 1%;
    margin-right: 0;
  }

  p.third {
    width: 100%;
  }

  p.third-margin {
    width: 97%;
    margin-left: 0;
    margin-right: 0;
  }

  p.third-margin:first-of-type {
    margin-left: 0;
    margin-right: 0;
  }

  p.third-margin:last-of-type {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 800px) {
  p.third {
    width: 33.33333%;
  }

  p.third-margin {
    width: 32.33333%;
    margin-left: .5%;
    margin-right: .5%;
  }

  p.third-margin:first-of-type {
    margin-left: 0;
    margin-right: 1%;
  }

  p.third-margin:last-of-type {
    margin-left: 1%;
    margin-right: 0;
  }
}
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  padding-right: 40px;
  background: #eeeeee;
  z-index: 2;
}
nav ul {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 60px;
  right: -50%;
  background: #eeeeee;
  text-align: right;
}
nav li {
  padding: 0 40px;
  font-weight: 600;
  line-height: 60px;
}
nav a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
nav a:active, nav a:focus {
  outline: none;
}

#nav-logo {
  float: left;
  padding: 0 40px;
}
#nav-logo h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
  line-height: 60px;
}

#site-nav-btn {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  z-index: 4;
}

#site-nav-toggle:checked + #site-nav {
  right: 0;
}

@media (min-width: 640px) {
  nav ul {
    width: auto;
    position: relative;
    top: auto;
    right: auto;
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
  }
  nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav li:first-child, nav li.first {
    padding-left: 0;
  }
  nav li:last-child {
    padding-right: 0;
  }
  nav li.last {
    padding-right: 0;
  }

  #site-nav-btn {
    display: none;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* > :last-child {
  margin-bottom: 0 !important;
}

html {
  font-family: "Roboto", Arial, Sans-Serif;
  line-height: 1.5em;
  color: #1e435d;
}
html * html {
  font-size: 100%;
}
html html {
  font-size: 16px;
  line-height: 0.375em;
}

main {
  width: 100%;
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
}

section > div {
  overflow: hidden;
}

.align-center {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.section-padding {
  padding: 80px 40px;
}

.checkbox-hack {
  display: none;
}

.force-repaint {
  -webkit-animation: force-repaint infinite 1s;
}

@-webkit-keyframes force-repaint {
  from {
    fill: 0;
  }

  to {
    fill: 0;
  }
}

@media (min-width: 640px) {
  header h1 {
    font-size: 5.125em;
    line-height: 1.09756em;
  }

  .section-padding {
    padding: 120px 40px;
  }
}
#index-header {
  height: 1000px;
  background-position: center;
  background-size: cover;
}

#index-header-text {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  margin-top: -200px;
  padding: 40px;
}

#index-about p {
  margin-bottom: 20px;
}

.list {
  margin-bottom: 40px;
}

@media (min-width: 640px) {
  #index-about p {
    margin-bottom: 0;
  }

  .list {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  #index-header-text {
    left: 50%;
    margin-left: -500px;
  }
}
footer {
  height: 500px;
}
