$white: #FFF;
$lgrey: #EEE;
$mgrey: #999;
$dgrey: #333;
$sdgrey: #222;
$blue: #1e435d;
$dblue: #484e5e;
$yellow: #f8ebb4;
$dyellow: #e7dba8;

.white {
    color: $sdgrey;
    background: $white;
}

.blue {
    color: $white;
    background: $blue;
}

.yellow {
    color: $sdgrey;
    background: $yellow;
}

.lgrey {
    color: $dgrey;
    background: $lgrey;
}

.dgrey {
    color: $lgrey;
    background: $dgrey;
}

.sdgrey {
    color: $lgrey;
    background: $sdgrey;
}