#footer-right {
    margin-top: 20px;
    i {
        margin-right: 0;
    }
}

.footer---icons {
    padding-top: 20px;
    @include adjust-font-size-to(34px);
}

#copyright {
    margin-top: 20px;
}


@media ($min_bp_a) {
    #footer-right {
        margin-top: 0;
    }
    .footer---icons {
        @include adjust-font-size-to(44px);
    }
}

@media ($min_bp_b) {
    .footer---icons {
        padding-top: 10px;
        @include adjust-font-size-to(54px);
    }
}