@font-face {
    font-family: 'Jacob-Hammond-Icon-Font';
    src:url('../fonts/Jacob-Hammond-Icon-Font.eot?-wqe5ba');
    src:url('../fonts/Jacob-Hammond-Icon-Font.eot?#iefix-wqe5ba') format('embedded-opentype'),
        url('../fonts/Jacob-Hammond-Icon-Font.woff?-wqe5ba') format('woff'),
        url('../fonts/Jacob-Hammond-Icon-Font.ttf?-wqe5ba') format('truetype'),
        url('../fonts/Jacob-Hammond-Icon-Font.svg?-wqe5ba#Jacob-Hammond-Icon-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"],
[class*=" ico-"], {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Jacob-Hammond-Icon-Font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-languages:before {
    content: "\63";
}
.ico-tools:before {
    content: "\e600";
}
.ico-menu:before {
    content: "\62";
}
.ico-skills:before {
    content: "\e601";
}
.ico-close:before {
    content: "\78";
}
.ico-arrow-down:before {
    content: "\27";
}
.ico-arrow-up:before {
    content: "\5e";
}
.ico-download:before {
    content: "\64";
}
.ico-heart:before {
    content: "\48";
}
.ico-twitter:before {
    content: "\e605";
}
.ico-facebook:before {
    content: "\e606";
}
.ico-tumblr:before {
    content: "\e607";
}
.ico-lastfm:before {
    content: "\e609";
}
.ico-linkedin:before {
    content: "\e608";
}
.ico-github:before {
    content: "\e604";
}
.ico-user:before {
    content: "\e602";
}
.ico-camera:before {
    content: "\36";
}
.ico-mobile:before {
    content: "\35";
}
.ico-producer:before {
    content: "\37";
}
.ico-art:before {
    content: "\33";
}
.ico-keyboard:before {
    content: "\31";
}
.ico-graphic:before {
    content: "\32";
}
.ico-cube:before {
    content: "\34";
}
.ico-graduate:before {
    content: "\67";
}

.ico-arrow-left {
    @include transform(rotate(90deg));
}
.ico-arrow-left:before {
    content: "\5e";
}
