* {
    @include box-sizing(border-box);
}

html {
    font-family: $base-font-family;
    @include establish-baseline(16px);
    @include adjust-leading-to(4);
}

main {
    position: relative;
    height: 1000px;
    z-index: 1;
}

header {
    font-family: $header-font-family;
    h1 {
        @include adjust-font-size-to(42px);
    }
}

.checkbox-hack {
    display: none;
}

// http://precisepixels.co.uk/blog/2014/01/30/checkbox-hack-problem-with-android-2-3/
.force-repaint { -webkit-animation: force-repaint infinite 1s; }

@-webkit-keyframes force-repaint {
    from { fill: 0; }
    to   { fill: 0; }
}

@media ($min_bp_a) {
    header {
        h1 {
            @include adjust-font-size-to(82px);
        }
    }
}