* {
    @include box-sizing(border-box);
}

html {
    font-family: $base-font-family;
    @include establish-baseline(16px);
    @include adjust-leading-to(4);
}

main {
    position: relative;
    height: 1000px;
    z-index: 1;
}

header {
    font-family: $header-font-family;
    h1 {
        @include adjust-font-size-to(82px);
    }
}