* {
    @include box-sizing(border-box);
}

* > :last-child { 
    margin-bottom: 0 !important; 
}

html {
    font-family: $base-font-family;
    @include establish-baseline(16px);
    @include adjust-leading-to(4);
    color: $blue;
}

main {
    width: 100%;
    position: relative;
    z-index: 1;
}

header {
    h1 {
        @include adjust-font-size-to(42px);
    }
}

section > div {
    overflow: hidden;
}

.align-center {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.section-padding {
    padding: 80px 40px;
}

.checkbox-hack {
    display: none;
}

// http://precisepixels.co.uk/blog/2014/01/30/checkbox-hack-problem-with-android-2-3/
.force-repaint { -webkit-animation: force-repaint infinite 1s; }

@-webkit-keyframes force-repaint {
    from { fill: 0; }
    to   { fill: 0; }
}

@media ($min_bp_a) {
    header {
        h1 {
            @include adjust-font-size-to(82px);
        }
    }
    .section-padding {
        padding: 120px 40px;
    }
}