#index-header {
    height: 800px;
    background-position: center;
    z-index: 0;
    transition: opacity .8s;
    color: $white;
    background: url(/images/bg.jpg) center $blue;
    background-size: cover;
}

#index-header-text {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    margin-top: -160px;
    padding: 40px;
    h1 {
        padding: 20px 0;
    }
}

@media ($min_bp_c) {
    #index-header-text {
        left: 50%;
        margin-left: -600px;
    }
}