#work-filter {
    padding: 20px;
    i {
        border: 1px solid $dgrey;
        padding: 20px;
        @include adjust-font-size-to(20px);
        @include transition(all .3s);
        &:hover {
            background: $yellow;
        }
    }
}

#work-items {
    padding-bottom: 40px;
}

.header-work {
    padding-top: 80px;
    padding-bottom: 0;
    img {
        display: block;
    }
}

@media ($min_bp_c) {
    #work-filter {
        padding: 60px 0;
    }
}