#work-filter {
    padding: 20px 0;
    .btn {
        width: 100%;
        margin-top: 10px;
    }
}

#filter-btn-categories {
    display: none;
}

#filter-btn:before {
    content: "b";
}

#filter-btn-toggle:checked ~ #filter-btn:before {
    content: "x";
}

#filter-btn-toggle:checked ~ #filter-btn-categories {
    display: block;
}

#filter-btn-text {
    margin-left: 15px;
    display: inline;
    font-family: $base-font-family;
}

.header-work {
    padding-top: 80px;
    padding-bottom: 0;
    img {
        display: block;
    }
}

@media ($min_bp_c) {
    #filter-btn {
        display: none;
    }

    #filter-btn-categories {
        display: block;
    }
}

@media ($min_bp_a) {
    #work-filter {
        .btn {
            margin-right: 15px;
            width: auto;
        }
    }
}