.details-header {
    h1 {
        @include adjust-font-size-to(42px);
        margin-bottom: 0;
    }
    h2 {
        @include adjust-font-size-to(26px);
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}

.details-description {
    ul {
        margin-left: -5px;
    }
    li {
        margin: 5px 5px;
        display: inline-block;
        font-weight: 200;
    }
}

.details-description-technologies {
    margin-top: 40px;
    font-weight: 400;
}

.details-link {
    margin-top: 40px;
    text-align: center;
    font-weight: 200;
}

.description-video {
    height: 0; 
    position: relative;
    margin-bottom: 40px;
    padding-top: 30px; 
    padding-bottom: 56.25%;
    overflow: hidden;
}

.description-video iframe,
.description-video object,
.description-video embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.description-image {
    width: 100%;
    height: auto;
    display: block;
}

@media ($min_bp_a) {
    .details-description {
        margin-top: 0;
    }
}

@media ($min_bp_c) {
}