#index-header {
    background-size: cover;
}

#index-header-text {
    width: 100%;
    padding: 80px 20px;
    h2 {
        i {
            margin-right: 0;
        }
    }
}

#index-about {
    p {
        margin-bottom: 20px;
    }    
    h2 {
        i {
            margin-right: 0;
        }
    }
}

.list {
    margin-top: 0;
    margin-bottom: 40px;
}

#index-recent-work {
    overflow: hidden;
    margin-bottom: 20px;
}

@media ($min_bp_a) {
    #index-header-text {
        padding: 150px 40px;
    }

    .list {
        margin-top: 20px;
        margin-bottom: 0;
        li {
        padding: 2px 0;
        }
    }
}

@media ($min_bp_c) {
    #index-header-text {
        padding: 260px 0;
    }
}