.details-header {
    h1 {
        @include adjust-font-size-to(42px);
        margin-bottom: 0;
    }
    h2 {
        @include adjust-font-size-to(26px);
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}

.details-description {
    overflow: hidden;
    ul {
        margin-left: -5px;
    }
    li {
        margin: 5px 5px;
        display: inline-block;
        font-weight: 200;
        zoom: 1;
        *display: inline;
    }
}

.details-description-technologies {
    margin-top: 40px;
    font-weight: 400;
}

.details-link {
    margin-top: 40px;
    text-align: center;
    font-weight: 200;
}

.description-video {
    height: 0; 
    position: relative;
    margin-bottom: 40px;
    padding-top: 30px; 
    padding-bottom: 56.25%;
    overflow: hidden;
}

.description-video iframe,
.description-video object,
.description-video embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.description-image {
        margin-top: 40px;
    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 15px;
    }
}

.description-image--web {
    margin-top: 60px;
}

.description-image--mobile {
    margin-top: 60px;
}

#details-navigation {
    text-align: center;

    .btn {
        margin-top: 0;
    }

    .btn--previous {
        float: left;
        i {
            margin-right: 0;
        }
    }

    .btn--text {
        display: none;
    }

    .btn--work {
        i {
            margin-right: 0;
        }
    }
    
    .btn--next {
        float: right;
        i {
            margin-right: 0;
        }
    }

}

@media ($min_bp_a) {

    .details-description {
        margin-top: 0;
    }

    .description-image--web {
        margin-top: 0;
    }

#details-navigation {

        .btn--text {
            display: inline;
        }

        .btn--previous {
            float: left;        
            i {
                margin-right: 15px;
            }
        }

        .btn--next {
            float: right;
            i {
                margin-right: 0;
                margin-left: 15px;
            }
        }
    }
}