#index-header {
    
}

#index-header-text {
    width: 100%;
    h2 {
        i {
            margin-right: 0;
            color: #ff66cc;
            -webkit-animation: hueRotate 30s infinite;
            -moz-animation:    hueRotate 30s infinite;
            -o-animation:      hueRotate 30s infinite;
            animation:         hueRotate 30s infinite;
        }
    }
}

@-webkit-keyframes hueRotate {
    0%     { @include filter(hue-rotate(0deg)); }
    100%   { @include filter(hue-rotate(1080deg)); }
}
@-o-keyframes hueRotate {
    0%     { @include filter(hue-rotate(0deg)); }
    100%   { @include filter(hue-rotate(1080deg)); }
}
@-moz-keyframes hueRotate {
    0%     { @include filter(hue-rotate(0deg)); }
    100%   { @include filter(hue-rotate(1080deg)); }
}
@keyframes hueRotate {
    0%     { @include filter(hue-rotate(0deg)); }
    100%   { @include filter(hue-rotate(1080deg)); }
}

#index-about {
    p {
        margin-bottom: 20px;
    }    
    h2 {
        i {
            margin-right: 0;
        }
    }
    img {
        border-radius: 50%;
        width: 150px;
        margin-right: 20px;
    }
}

#main-index {
    margin-top: 0;
}

.list {
    margin-top: 0;
    margin-bottom: 40px;
}

.index-work-btn {
    margin-top: 30px;
}

@media ($min_bp_a) {
    // #index-header-text {
    //     padding: 150px 40px;
    // }

    .list {
        margin-top: 20px;
        margin-bottom: 0;
        li {
        padding: 2px 0;
        }
    }
}

@media ($min_bp_c) {
    // #index-header-text {
    //     padding: 260px 0;
    // }
}