.btn {
    margin-top: 20px;
    padding: 20px;
    display: inline-block;
    *display: inline;
    cursor: pointer;
    white-space: nowrap;
    @include transition(all .3s);
}

a.btn {
    font-weight: 200;
    @include unstyled-link;
}

.blue a.btn {
    color: $white;
}

.blue .btn {
    border: 1px solid $white;
    color: $white;
    &:hover {
        background: $white;
        color: $blue;
    }
}

.yellow .btn,
.white .btn {
    border: 1px solid $sdgrey;
    color: $sdgrey;
    &:hover {
        background: $sdgrey;
        color: $white;
    }
}