.work-item {
    position: relative;
    float: left;
    overflow: hidden;
    border: 5px solid $white;
    img {
        width: 100%;
        display: block;
    }    
    h1 {
        @include adjust-font-size-to(18px);
        margin-bottom: 0;
    }
    p {
        @include adjust-font-size-to(16px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    i {
        margin-right: 0;
        @include adjust-font-size-to(22px);
    }
}

.work-item-description {
    top: 0;
    padding: 10px;
    background: white;
    @include transition(all .3s);  
}

.work-item:hover .work-item-description {
    color: $white;
    background: $blue;
}

.work-item:hover .work-item-icon {
    top: 0;
    @include opacity(1);
}

.work-item-icon {
    position: absolute;
    top: -40px;
    right: 10px;
    padding: 10px;
    color: $dgrey;
    background: $yellow;
    @include opacity(0);
    @include transition(all .3s);
}